@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Anek Tamil", sans-serif;
  }

  html[dir="rtl"] {
    direction: rtl;
    text-align: right;
  }
  html[dir="ltr"] {
    direction: ltr;
    text-align: left;
  }
}

